<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrap">
    <div id="container">
        <div id="header">
            <div id="logo">
                <h1>Ветеринарный контроль</h1>
            </div>
            <div class="right">
                <div id="userdetails">
                    <span wicket:id="userdetails"/>
                </div>
                <div id="exit">
                    <form wicket:id="exit" action="">
                        <input type="submit" value="Выход"/>
                    </form>
                </div>
            </div>
            <div class="fixed"></div>
        </div>
        <div id="content">
            <div id="sidebar">
                <div wicket:id="sidebar">
                    <div wicket:id="menu_placeholder">[menu content will go here]</div>

                    <wicket:fragment wicket:id="menu">
                        <div class="menu">
                            <h3><span wicket:id="menu_title"></span></h3>
                            <ul>
                                <li wicket:id="menu_items">
                                    <a href="#" wicket:id="link"><span wicket:id="label"></span></a>
                                </li>
                            </ul>
                        </div>
                    </wicket:fragment>
                </div>

                <div class="menu">                    
                    <!-- TODO: remove -->
                    <h3>Справочники</h3>
                    <ul>
                        <li>Структурные единицы</li>
                        <li>Страны</li>
                        <li>Основания для задержания груза</li>
                        <li>Категории грузов, подлежащих контролю</li>
                        <li>Перечень препаратов, зарегистрированных в Украине</li>
                        <li>Перечень запретов по странам</li>
                        <li>Должности</li>
                        <li>Виды движения груза</li>
                        <li>Страны с неблагоприятной эпизоотической ситуацией</li>
                        <li>Единицы измерения</li>
                        <li>Тарифы</li>
                        <li>Виды грузов</li>
                        <li>Пункты пропуска через границу</li>
                        <li>Места таможенного оформления грузов</li>
                        <li>Адреса</li>
                        <li>Отправители/получатели грузов</li>
                        <li>Производители</li>
                        <li>Типы транспортных средств</li>
                    </ul>
                </div>                     
            </div>
            <div id="main">
                <wicket:child/>

                <wicket:remove>
                    Main Context Here!
                </wicket:remove>
            </div>
        </div>
        <div class="fixed"></div>

        <div id="footer">
            <div>Комплитекс 2009</div>
        </div>
    </div>
</div>

</body>
</html>