<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<wicket:extend>
    <table border="0" cellspacing="0" cellpadding="0" class="formFrame">
        <tr valign="top">
            <td class="ff_l"><img src="resources/org.apache.wicket.Application/images/formFrame-tl.gif" width="4" height="180" alt=""/></td>
            <td class="ff_t">
                <wicket:child/>
            </td>
            <td class="ff_r"><img src="resources/org.apache.wicket.Application/images/formFrame-tr.gif" width="4" height="180" alt=""/></td>
        </tr>
        <tr>
            <td class="ff_bl"><img src="resources/org.apache.wicket.Application/images/formFrame-bl.gif" width="4" height="4" alt=""/></td>
            <td class="ff_b"><img src="resources/org.apache.wicket.Application/images/spacer.gif" width="4" height="4" alt=""/></td>
            <td class="ff_br"><img src="resources/org.apache.wicket.Application/images/formFrame-br.gif"  width="4" height="4" alt=""/></td>
        </tr>
    </table>
</wicket:extend>
</body>
</html>