<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="ru-RU" />

    <title>TemplatePage</title>
</head>
<body>
<div id="header" align="center">
    <span wicket:id="hello_template"/>
</div>
<div id="context" align="center">
    <wicket:child/>
</div>
</body>
</html>