<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
        <script src="/js/common.js" type="text/javascript"></script>
    </head>
    <body>
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td id="Header">
                    <div id="LoginForm">
                        <table border="0" cellspacing="0" cellpadding="0" >
                            <tr>
                                <td>
                                    <span wicket:id="current_user_fullname"></span><br/>
                                    <b wicket:id="current_user_department"></b>                                    
                                </td>
                                <td>
                                    <form wicket:id="exit" action="">
                                        <input type="submit" wicket:message="value:exit" name="" class="buttonLogin"
                                               tabindex="1000" onkeypress="return false;"/>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td id="TopPanel">
                    <div id="ButtonMain" class="expanded">
                        <div>
                            <wicket:message key="main-sidebar.message"/>
                        </div>
                    </div>
                    <div wicket:id="toolbar">
                        <span wicket:id="commonPart">
                            <span wicket:id="help"></span>
                        </span>
                        <span wicket:id="pagePart">
                            <span wicket:id="pageToolbarButton"></span>
                        </span>
                    </div>
                    <div style="float:right;">
                        <span wicket:id="localePicker"></span>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div id="LeftPanel">
                        <div class="block LeftBlock" wicket:id="sidebar">
                            <div wicket:id="menu_placeholder">[menu content will go here]</div>
                            <wicket:fragment wicket:id="menu">
                                <h2 class="expanded">
                                    <div>
                                        <span wicket:id="menu_title">
                                        </span>
                                    </div>
                                </h2>
                                <div class="bottom">
                                    <div class="content">
                                        <ul>
                                            <li wicket:id="menu_items">
                                                <a href="#" wicket:id="link"><span wicket:id="label"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </wicket:fragment>
                        </div>
                    </div>
                    <div id="Content" class="ContentCollapsed">
                        <wicket:child/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div><img src="images/spacer.gif" width="800" height="1" alt=""/></div>
                </td>
            </tr>
        </table>
    </body>
</html>