<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
    <wicket:panel>
        <center>
            <h1><span wicket:id="bookName"></span></h1>
        </center>

        <form wicket:id="filterForm">
            <br/>
            <br/>
            <center>
                 <div class="filterPanel" wicket:id="goAndClearFilter"></div>
            </center>
            
            <table class="tbColor bookContent" cellspacing="0" cellpadding="0" border="0" wicket:id="table">
            </table>
            <input wicket:id="focus-tracker" type="hidden"/>
            <div wicket:id="focus-restore"></div>
            <div>
                <span wicket:id="navigator"></span>
            </div>
            <!--<br/>
            <br/>
            <br/>-->

        </form>
    </wicket:panel>
</body>
</html>
