<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<wicket:panel>
    <table>
        <tr wicket:id="bookFields">
            <td>
                <span wicket:id="bookFieldDesc"></span>
            </td>
            <td>
                <div wicket:id="datePanel"></div>
                <div wicket:id="textPanel"></div>
                <div wicket:id="localizableTextPanel"></div>
            </td>
        </tr>
    </table>
    <input type="button" value="Save/Update" wicket:id="saveOrUpdateBook"/>
    <input type="button" value="Cancel" wicket:id="cancel"/>

</wicket:panel>
