<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<wicket:panel>
    <div>
        <span>
            <wicket:message key="BooksLabel"/>
            <wicket:remove>
                Справочники
            </wicket:remove>
        </span>
        <!-- TODO: fix expand button :  -->
        <span wicket:id="Expand">Expand</span>
    </div>
    <div wicket:id="Content">
        <table>
            <tbody>
                <tr wicket:id="Books">
                    <td>
                        <a wicket:id="BookContentRef"><span wicket:id="CurrentBook">
                                <wicket:remove>
                                    Страны
                                </wicket:remove>
                            </span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</wicket:panel>
