<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<wicket:panel>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td width="80px" style="padding: 1px 0 0 0"><input type="text" wicket:id="uktzed" size="10"/></td>
            <td style="padding: 1px 0 0 0"><input type="text" wicket:id="name"/></td>
        </tr>
    </table>
</wicket:panel>
</html>